.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;

    opacity: 0;
    transition: opacity 300ms ease;
}

.overlayVisible {
    opacity: 1;
}

.content {
    position: relative;
    background: #2a2f3c;
    color: var(--text-white);

    width: 500px;
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 1rem;
    padding: 1.5rem;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);

    transform: translateY(20px) scale(0.9);
    opacity: 0;

    transition:
        transform 300ms ease,
        opacity 300ms ease;
}

.contentVisible {
    transform: translateY(0) scale(1);
    opacity: 1;
}

.close {
    position: absolute;
    top: 12px;
    right: 16px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-white);
    transition: transform 0.3s ease;
}

.close:hover {
    transform: rotate(90deg);
}

.avatar {
    margin-top: 1rem;
    width: 120px;
    border-radius: 0.75rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.flex>div:first-child {
    min-width: 100px;
}

.flex>div:last-child {
    flex: 1 1 auto;
}